<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>Project Alpha</h1>
                <p>You are not assigned to any projects</p>
                <h2>Tasks</h2>
            {% if detail_projects %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start Date</th>
                            <th>Due Date</th>
                            <th>Is Completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for detail in detail_projects %}
                            <tr>
                                <td>
                                    {{ task.name }}
                                </td>
                                <td>
                                    {{ task.assignee }}
                                </td>
                                <td>
                                    {{ task.start_date }}
                                </td>
                                <td>
                                    {{ task.due_date }}
                                </td>
                                <td>
                                    {{ task.is_completed|yesno:"yes, no" }}
                                </td>
                            </tr>
                        {% else %}
                            <p>This project has no tasks</p>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
</body>
</html>
